# dataframe 결합
- 단순하게 행 추가
- 열을 추가 (단순 열 추가 / 특정조건 맞게 열 추가)

In [1]:
# 행을 추가
import pandas as pd

In [2]:
df = pd.DataFrame({
    'S1' : [1,2,3,4],
    'S2' : [5,6,7,8]
})

df

   S1  S2
0   1   5
1   2   6
2   3   7
3   4   8

In [3]:
df2 = pd.DataFrame([1,2])


df2

   0
0  1
1  2

# concat()

In [4]:
# concat()
# 데이터 프레임을 결합하는 함수
# axis 0, 1행을 추가, 열을 추가 지정(기본값은 행을 추가)
# 단순하게 결합
# ignore_index 속성은 기본값이 false로 잡혀있다. 인덱스의 값은 그대로 할 것인가 아니면 새로 재지정할 것인지 정할수있다

In [5]:
# 행 결합
pd.concat([df, df2], axis = 0, ignore_index=True)

# ignore_index를 참으로하면 결합하면서 인데스 재지정

    S1   S2    0
0  1.0  5.0  NaN
1  2.0  6.0  NaN
2  3.0  7.0  NaN
3  4.0  8.0  NaN
4  NaN  NaN  1.0
5  NaN  NaN  2.0

In [6]:
# 열 결합
pd.concat([df, df2], axis = 1, ignore_index=False)

   S1  S2    0
0   1   5  1.0
1   2   6  2.0
2   3   7  NaN
3   4   8  NaN

In [8]:
df3 = pd.DataFrame({
    'S1' : [1,3]
    })

df3

   S1
0   1
1   3

In [9]:
pd.concat([df, df3])

   S1   S2
0   1  5.0
1   2  6.0
2   3  7.0
3   4  8.0
0   1  NaN
1   3  NaN

# merge()
- 데이터 프레임을 결합해주는 함수
- 특정 조건을 만족해야 열 추가
- on 속성 --> 조건
- how 속성 --> 기준이 되는 데이터프레임 선택(left right inner full)

In [10]:
df4 = pd.DataFrame({
    "id" : [1,2,3,4,5],
    "item" : ["a", "b", "c", "d", "e"]
})

df5 = pd.DataFrame({
    "id" : [1,4,5,2,3],
    "item" : ["kim", "lee", "park", "choi", "f"]
})

df5

   id  item
0   1   kim
1   4   lee
2   5  park
3   2  choi
4   3     f

In [11]:
# concat() 열추가
# merge() 열추가

pd.concat([df4, df5], axis=1)

   id item  id  item
0   1    a   1   kim
1   2    b   4   lee
2   3    c   5  park
3   4    d   2  choi
4   5    e   3     f

In [12]:
pd.merge(df4, df5, on= 'id', how='inner') # on은 중복이되는 컬럼을 넣는다(id가 중복됨)

   id item_x item_y
0   1      a    kim
1   2      b   choi
2   3      c      f
3   4      d    lee
4   5      e   park

In [15]:
df6 = pd.DataFrame({
    "item" : ['a','b','c'],
    "item_price" : [100,500,1000]
}
)

In [19]:
print(df4)
print(df6)

   id item
0   1    a
1   2    b
2   3    c
3   4    d
4   5    e
  item  item_price
0    a         100
1    b         500
2    c        1000

In [24]:
print(pd.merge(df4,df6,on='item', how='inner'))
print(pd.merge(df4,df6,on='item', how='left'))
print(pd.merge(df4,df6,on='item', how='right'))

   id item  item_price
0   1    a         100
1   2    b         500
2   3    c        1000
   id item  item_price
0   1    a       100.0
1   2    b       500.0
2   3    c      1000.0
3   4    d         NaN
4   5    e         NaN
   id item  item_price
0   1    a         100
1   2    b         500
2   3    c        1000