# 1.Python과 SQL 연동
---

1 ) 세팅

In [1]:
# mysql과 연동하기 위한 라이브러리 설치
# !pip install pymysql
import pymysql
import pandas as pd

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 1.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [17]:
# 어느 데이터베이스에 접속을 할지 설정
_db = pymysql.connect(
    user = 'root',
    password = "9202",
    host = "localhost",
    port = 3306
    ,db = "ubion"
)

In [18]:
# cursor는 sql구문을 실행 시키기 위해 만들어야되는 변수
# DictCursor -> sql에서 불러온 데이터를 딕셔너리 형태로 받아온다.

#따라서 cursor는 DB접속 변수
cursor = _db.cursor(pymysql.cursors.DictCursor)

2 ) 테이블 "가져오기"

In [20]:
# select문 사용
sql ="""select * 
        from EMP
        where DEPTNO = 30"""
cursor.execute(sql)             #cursor:이어줌
result = cursor.fetchall()      #fetch:가지고오다
print(result) #DICT형태로 가져옴. cursor설정이 DICT여서

[{'EMPNO': 3333, 'ENAME': 'Choi', 'JOB': 'manager', 'MGR': 3333, 'HIREDATE': 20200303, 'SAL': 400, 'COMM': None, 'DEPTNO': 30}]

In [21]:
#데이터베이스에서 받아온 리스트 안에 딕셔너리 형태의 데이터를 DF으로 변형
pd.DataFrame(result)

   EMPNO ENAME      JOB   MGR  HIREDATE  SAL  COMM  DEPTNO
0   3333  Choi  manager  3333  20200303  400  None      30

3 ) 값 삽입하기

In [22]:
## sql CRUD
# C : Create -> insert
# R : Read -> select
##  ㄴ> 결과물 반환하기에 -> fetchall() 사용
# U : Update -> update
# D : Delete -> delete

#데이터베이스 변환 -> execute()
sql = """
        insert into DEPT values
        (100, "A", "Seoul")
"""
cursor.execute(sql)

_db.commit() # DB커밋을 해줘야 실제로 업데이트가 된다. -> 워크벤치에서 새로고침하면 뜸.

1

3-2 ) input으로 입력하여 삽입

In [24]:
sql = """
    insert into DEPT values (%s, %s, %s)
"""
deptno = input("DEPTNO = ")
dname = input ("DNAME =")
loc = input("LOC =")
values = [deptno, dname, loc]   # 각 열 3개을 연속으로 input할 수 있도록

cursor.execute(sql, values)
# print("출력: %s" %input("입력하시오:"))

_db.commit()

> DB에 저장된 테이블 가져오기 정리.

In [35]:
sql = """
    select
    createDt as 날짜,
    deathCnt as 사망자,
    decideCnt as 확진자
    from
    corona
    order by 날짜
"""
cursor.execute(sql)
result = cursor.fetchall()
df = pd.DataFrame(result)
df

                          날짜    사망자       확진자
0    2020-03-10 00:00:00.000     54      7513
1    2020-03-11 00:00:00.000     60      7755
2    2020-03-12 00:00:00.000     66      7869
3    2020-03-13 00:00:00.000     67      7979
4    2020-03-14 00:00:00.000     72      8086
..                       ...    ...       ...
815  2022-06-04 08:56:49.219  24238  18153814
816  2022-06-05 08:53:19.426  24258  18163648
817  2022-06-06 09:00:06.734  24279  18168670
818  2022-06-07 09:09:00.897  24299  18174842
819  2022-06-08 09:09:05.982  24305  18188200

[820 rows x 3 columns]