서버오픈 : mysql -u root -p<br>
서버닫기 : exit

# 상대모멘텀

In [408]:
import os   #경로 관련해서 사용할 때
import pandas as pd
import numpy as np
import datetime
import glob     #얘도 경로 관련

In [409]:
# 파일 목록 불러오기
files = glob.glob('./csv/*.csv')
files

['./csv/AMZN.csv', './csv/BND.csv', './csv/AAPL.csv']

In [410]:
# 빈데이터프레임 생성 컬럼만 지정 -> 나중에 피벗테이블로 만들어 날짜별 기업별 월수익률 df로 만든다.
month_last_df = pd.DataFrame(columns=["Date", "CODE", "1M_RET"])
month_last_df

Empty DataFrame
Columns: [Date, CODE, 1M_RET]
Index: []

In [411]:
# 종목 데이터프레임 생성
stock_df = pd.DataFrame(columns=["Date", "CODE", "Adj Close"])

In [412]:
# 함수 생성 : 시간으로 필터링 후 아래 3개 열만 가져옴 to sample
# + 종목코드, 기준년월, 수익률 컬럼을 추가
# 결과적으로, 전처리된 df와 기준년월 리스트(중복x)를 return!

def data_preprocessing(sample, ticker, base_date):
    sample['CODE'] = ticker # ticker는 종목코드 추가
    sample = sample[sample['Date'] >= base_date][["Date", "CODE", "Adj Close"]]
    sample.reset_index(inplace=True, drop=True)     #inplace는 기존꺼 수정      #drop=True는 기존 인덱스 삭제
    
    #기준년월
    sample["STD-YM"] = sample["Date"].map(lambda x : \
        datetime.datetime.strptime(x, "%Y-%m-%d").strftime("%Y-%m"))
        # 스트링에서 시계열형태로 : strptime
        # 시계열에서 스트링으로(추출) : strtime
    
    #기준년월의 중복 데이터를 삭제한 리스트
    ym_keys = list(sample["STD-YM"].unique())
    
    #수익률
    sample["1M_RET"] = 0.0
    
    return sample, ym_keys    #이렇게 리턴하면 함수 써서 저장할 때도 "A, B ="

In [413]:
df = pd.read_csv("./csv/AAPL.csv")
price_df, ym_keys = data_preprocessing(df, "AAPL", "2010-01-01")
print(price_df, ym_keys)

            Date  CODE   Adj Close   STD-YM  1M_RET
0     2010-01-04  AAPL   26.782711  2010-01     0.0
1     2010-01-05  AAPL   26.829010  2010-01     0.0
2     2010-01-06  AAPL   26.402260  2010-01     0.0
3     2010-01-07  AAPL   26.353460  2010-01     0.0
4     2010-01-08  AAPL   26.528664  2010-01     0.0
...          ...   ...         ...      ...     ...
2379  2019-06-18  AAPL  198.449997  2019-06     0.0
2380  2019-06-19  AAPL  197.869995  2019-06     0.0
2381  2019-06-20  AAPL  199.460007  2019-06     0.0
2382  2019-06-21  AAPL  198.779999  2019-06     0.0
2383  2019-06-24  AAPL  199.169998  2019-06     0.0

[2384 rows x 5 columns] ['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06']

In [414]:
# df의 
def create_trade_book (sample, sample_codes):
    book = pd.DataFrame()
    book = sample[sample_codes]
    book["STD-YM"] = book.index.map(lambda x : \
        datetime.datetime.strptime(x, "%Y-%m-%d")).strftime("%Y-%m")
    for i in sample_codes:
        book["p "+i] = ""
        book["r "+i] = ""
    return book

In [415]:
## trading 함수 생성
def tradings(book, s_codes):
    std_ym = ""
    buy_phase = ""
    for i in s_codes:
        print(i)
        # 종목코드의 인덱스 반복
        for j in book.index:
            if book.loc[j, "p "+i] == "" and book.shift(1).loc[j, "p "+i] == "ready " + i:
                std_ym = book.loc[j, "STD-YM"]
                buy_phase = True
            if book.loc[j, "p "+i] == "" and book.loc[j, "STD-YM"] == std_ym and buy_phase == True:
                #주문하는 파트
                book.loc[j, "p "+i] = "buy " + i
                print(j)
            
            if book.loc[j, "p "+i] == "":
                std_ym = None
                buy_phase = False
    return book

In [416]:
# 수익률 구하는 파트
def multi_returns(book, s_codes):
    rtn = 1.0
    buy_dict = {}
    num = len(s_codes)
    sell_dict = {}

    for i in book.index:
        for s in s_codes:
            if book.loc[i, 'p '+s] == "buy " + s and \
            book.shift(1).loc[i, "p "+s] == "ready " + s and \
            book.shift(2).loc[i, 'p '+s] == "":
                buy_dict[s] = book.loc[i, s]
                print("진입일 : ", i, '종목코드 : ', s, 'long 진입 가격 : ', buy_dict[s])
            elif book.loc[i, "p "+s] == "" and \
                book.shift(1).loc[i, "p "+s] == "buy "+s:
                sell_dict[s] = book.loc[i, s]
                #손익 계산
                rtn = (sell_dict[s] / buy_dict[s]) - 1
                book.loc[i, "r "+s] =rtn
                print("개별 청산일 : ", i, "종목코드 : ", s, "long 진입 가격 : ", \
                   buy_dict[s], "long 청산 가격 : ", sell_dict[s], "return : ", round(rtn*100, 2))
            
            if book.loc[i, "p " + s] == "":
                buy_dict[s] = 0.0
                sell_dict[s] = 0.0

    acc_rtn = 1.0
    for i in book.index:
        rtn = 0.0
        count = 0
        for s in s_codes:
            if book.loc[i, "p "+s] == "" and \
                book.shift(1).loc[i, "p "+s] == "buy "+s:
                count += 1  #count = count + 1
                rtn += book.loc[i, "r "+s]
        if (rtn != 0.0) and (count != 0):
            acc_rtn *= (rtn/count) + 1
            print("누적 청산일 : ", i, "청산 종목 수 : ", count, \
                "청산 수익율 : ", round((rtn/count), 4), "누적 수익율 : ", round(acc_rtn, 4))
            book.loc[i, "acc_rtn"] = acc_rtn
    print("누적 수익율 : ", round(acc_rtn, 4))

In [ ]:
for file in files:
    if os.path.isdir(file):
        print('%s <DIR>'%file)

    else:
        #경로(file)에서 종목코드(head)만 뽑기위해
        folder, name = os.path.split(file) #folder(폴더))= ./csv #name= MAZN.csv
        head, tail = os.path.splitext(name) #head(종목코드)= MAZN #tail(확장자)= .csv
        # print(folder, name, head, tail)
        
        read_df = pd.read_csv(file)
        # print(read_df.head(1))
        price_df, ym_keys = data_preprocessing(read_df, head, "2010-01-01")
        stock_df = pd.concat([stock_df, price_df[["Date", "CODE", "Adj Close"]]])

        for ym in ym_keys:
            ## 기준년월 마지막 종가 / 기준년월 첫 종가. => 이를 위해 기준년월(ym)로 필터링해줌
            # 2020-01인 행들 중에 가장 마지막에 있는 행의 Adj close값
            
            m_ret = price_df.loc[price_df[price_df["STD-YM"] == ym].index[-1], 'Adj Close'] \
                / price_df.loc[price_df[price_df["STD-YM"] == ym].index[0], 'Adj Close']
            price_df.loc[price_df['STD-YM'] == ym, ['1M_RET']] = m_ret
            
            month_last_df = month_last_df.append(\
                price_df.loc[price_df[price_df["STD-YM"] == ym].index[-1], ['Date', 'CODE', '1M_RET']])
            
            ## 기준년월 마지막 종가 / 기준년월 첫 종가
            # m_ret이라는 변수를 만들어서
            # ym = "2020-01"
            # price_df["STD-YM"] == "2020-01" -> STD-YM의 값이 2020-01이면 True 아니면 False
            # price_df[price_df["STD-YM"] == "2020-01"] -> []안의 조건식이 True 출력 False 미출력(필터)
            # price_df[price_df["STD-YM"] == "2020-01"].index[-1] -> 
            # STD-YM의 값이 2020-01인 값들 중에 가장 마지막에 있는 인덱스의 값
            # price_df.loc[index, column] -> 
            # index -> price_df[price_df["STD-YM"] == "2020-01"].index[-1]
            # column -> "Adj Close"
            # price_df.loc[price_df[price_df["STD-YM"] == "2020-01"].index[-1], 'Adj Close']
            # 결과적으로 price_df에 있는 STD-YM컬럼의 값이 
            # 2020-01인 행들 중에 가장 마지막에 있는 행의 Adj Close 값

In [418]:
month_last_df.head()

           Date  CODE    1M_RET
18   2010-01-29  AMZN  0.936595
37   2010-02-26  AMZN  0.996046
60   2010-03-31  AMZN  1.090172
81   2010-04-30  AMZN  1.040134
101  2010-05-28  AMZN  0.912503

# 2.
---

In [419]:
month_ret_df = month_last_df.pivot("Date", "CODE", "1M_RET")
month_ret_df

CODE            AAPL      AMZN       BND
Date
2010-01-29  0.897435  0.936595  1.011692
2010-02-26  1.050789  0.996046  1.003909
2010-03-31  1.124456  1.090172  0.996728
2010-04-30  1.106454  1.040134  1.011023
2010-05-28  0.964445  0.912503  1.011821
...              ...       ...       ...
2019-02-28  1.044274  1.008363  1.001883
2019-03-29  1.085615  1.065214  1.022547
2019-04-30  1.049310  1.061917  1.003719
2019-05-31  0.834810  0.928617  1.018200
2019-06-24  1.149279  1.127173  1.007778

[114 rows x 3 columns]

In [420]:
# 투자종목 선택할 rank. 낮을수록 좋음
month_ret_df = month_ret_df.rank(axis=1, ascending=False, method="max", pct=True)
month_ret_df

CODE            AAPL      AMZN       BND
Date
2010-01-29  1.000000  0.666667  0.333333
2010-02-26  0.333333  1.000000  0.666667
2010-03-31  0.333333  0.666667  1.000000
2010-04-30  0.333333  0.666667  1.000000
2010-05-28  0.666667  1.000000  0.333333
...              ...       ...       ...
2019-02-28  0.333333  0.666667  1.000000
2019-03-29  0.333333  0.666667  1.000000
2019-04-30  0.666667  0.333333  1.000000
2019-05-31  1.000000  0.666667  0.333333
2019-06-24  0.333333  0.666667  1.000000

[114 rows x 3 columns]

In [421]:
# 상위 40%에 드는 종목을 체크
month_ret_df = month_ret_df.where(month_ret_df < 0.4, np.nan).fillna(0)
month_ret_df[month_ret_df != 0] = 1
month_ret_df

CODE        AAPL  AMZN  BND
Date
2010-01-29   0.0   0.0  1.0
2010-02-26   1.0   0.0  0.0
2010-03-31   1.0   0.0  0.0
2010-04-30   1.0   0.0  0.0
2010-05-28   0.0   0.0  1.0
...          ...   ...  ...
2019-02-28   1.0   0.0  0.0
2019-03-29   1.0   0.0  0.0
2019-04-30   0.0   1.0  0.0
2019-05-31   0.0   0.0  1.0
2019-06-24   1.0   0.0  0.0

[114 rows x 3 columns]

In [422]:
stock_list = list(stock_df["CODE"].unique())
stock_list

['AMZN', 'BND', 'AAPL']

In [423]:
# 비어있는 딕셔너리 형태 데이터
sig_dict = dict()
for date in month_ret_df.index:
    ticker_list = list(month_ret_df.loc[date, month_ret_df.loc[date, :] >= 1.0].index)
    # 날짜별로 종목코드 저장
    sig_dict[date] = ticker_list
stock_c_matrix = stock_df.pivot('Date', 'CODE', 'Adj Close')
book = create_trade_book(stock_c_matrix, stock_list)
book.head()

/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/2606133954.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["STD-YM"] = book.index.map(lambda x : \
/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/2606133954.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["p "+i] = ""
/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/2606133954.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["r "+i] = ""
/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/2606133954.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["p "+i] = ""
/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/2606133954.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["r "+i] = ""
/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/2606133954.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["p "+i] = ""
/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/2606133954.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book["r "+i] = ""

CODE,AMZN,BND,AAPL,STD-YM,p AMZN,r AMZN,p BND,r BND,p AAPL,r AAPL
Date,,,,,,,,,,
2010-01-04,133.899994,60.611969,26.782711,2010-01,,,,,,
2010-01-05,134.690002,60.789135,26.829010,2010-01,,,,,,
2010-01-06,132.250000,60.766037,26.402260,2010-01,,,,,,
2010-01-07,130.000000,60.719822,26.353460,2010-01,,,,,,
2010-01-08,133.520004,60.781410,26.528664,2010-01,,,,,,

In [424]:

# sig_dict는 {일자, 종목코드} -> 이걸 각 변수로 따로 받음.
for date, values in sig_dict.items():
    for stock in values:
        book.loc[date, "p "+stock] = "ready " + stock
        
# 반복문이 처음 시작하는 경우
    # date - 2010-01-29
    # values = ["BND"] : 리스트형태
    # stock = 'BND' : 스트링형태
    # book.loc["2010-01-29", "p BND"] = "ready BND"
    
book.value_counts("p AAPL")

p AAPL
              2345
ready AAPL      39
dtype: int64

In [ ]:
stock_list

In [425]:
book = tradings(book, stock_list)

AMZN
2010-08-02
2010-08-03
2010-08-04
2010-08-05
2010-08-06
2010-08-09
2010-08-10
2010-08-11
2010-08-12
2010-08-13
2010-08-16
2010-08-17
2010-08-18
2010-08-19
2010-08-20
2010-08-23
2010-08-24
2010-08-25
2010-08-26
2010-08-27
2010-08-30
2010-09-01
2010-09-02
2010-09-03
2010-09-07
2010-09-08
2010-09-09
2010-09-10
2010-09-13
2010-09-14
2010-09-15
2010-09-16
2010-09-17
2010-09-20
2010-09-21
2010-09-22
2010-09-23
2010-09-24
2010-09-27
2010-09-28
2010-09-29
2010-10-01
2010-10-04
2010-10-05
2010-10-06
2010-10-07
2010-10-08
2010-10-11
2010-10-12
2010-10-13
2010-10-14
2010-10-15
2010-10-18
2010-10-19
2010-10-20
2010-10-21
2010-10-22
2010-10-25
2010-10-26
2010-10-27
2010-10-28
2010-11-01
2010-11-02
2010-11-03
2010-11-04
2010-11-05
2010-11-08
2010-11-09
2010-11-10
2010-11-11
2010-11-12
2010-11-15
2010-11-16
2010-11-17
2010-11-18
2010-11-19
2010-11-22
2010-11-23
2010-11-24
2010-11-26
2010-11-29
2010-12-01
2010-12-02
2010-12-03
2010-12-06
2010-12-07
2010-12-08
2010-12-09
2010-12-10
2010-12-13
2010-12-14
2010-12-15
2010-12-16
2010-12-17
2010-12-20
2010-12-21
2010-12-22
2010-12-23
2010-12-27
2010-12-28
2010-12-29
2010-12-30
2011-01-03
2011-01-04
2011-01-05
2011-01-06
2011-01-07
2011-01-10
2011-01-11
2011-01-12
2011-01-13
2011-01-14
2011-01-18
2011-01-19
2011-01-20
2011-01-21
2011-01-24
2011-01-25
2011-01-26
2011-01-27
2011-01-28
2011-01-31
2011-04-01
2011-04-04
2011-04-05
2011-04-06
2011-04-07
2011-04-08
2011-04-11
2011-04-12
2011-04-13
2011-04-14
2011-04-15
2011-04-18
2011-04-19
2011-04-20
2011-04-21
2011-04-25
2011-04-26
2011-04-27
2011-04-28
2011-05-02
2011-05-03
2011-05-04
2011-05-05
2011-05-06
2011-05-09
2011-05-10
2011-05-11
2011-05-12
2011-05-13
2011-05-16
2011-05-17
2011-05-18
2011-05-19
2011-05-20
2011-05-23
2011-05-24
2011-05-25
2011-05-26
2011-05-27
2011-05-31
2011-07-01
2011-07-05
2011-07-06
2011-07-07
2011-07-08
2011-07-11
2011-07-12
2011-07-13
2011-07-14
2011-07-15
2011-07-18
2011-07-19
2011-07-20
2011-07-21
2011-07-22
2011-07-25
2011-07-26
2011-07-27
2011-07-28
2011-07-29
2011-10-03
2011-10-04
2011-10-05
2011-10-06
2011-10-07
2011-10-10
2011-10-11
2011-10-12
2011-10-13
2011-10-14
2011-10-17
2011-10-18
2011-10-19
2011-10-20
2011-10-21
2011-10-24
2011-10-25
2011-10-26
2011-10-27
2011-10-28
2011-10-31
2012-04-02
2012-04-03
2012-04-04
2012-04-05
2012-04-09
2012-04-10
2012-04-11
2012-04-12
2012-04-13
2012-04-16
2012-04-17
2012-04-18
2012-04-19
2012-04-20
2012-04-23
2012-04-24
2012-04-25
2012-04-26
2012-04-27
2012-05-01
2012-05-02
2012-05-03
2012-05-04
2012-05-07
2012-05-08
2012-05-09
2012-05-10
2012-05-11
2012-05-14
2012-05-15
2012-05-16
2012-05-17
2012-05-18
2012-05-21
2012-05-22
2012-05-23
2012-05-24
2012-05-25
2012-05-29
2012-05-30
2012-05-31
2012-07-02
2012-07-03
2012-07-05
2012-07-06
2012-07-09
2012-07-10
2012-07-11
2012-07-12
2012-07-13
2012-07-16
2012-07-17
2012-07-18
2012-07-19
2012-07-20
2012-07-23
2012-07-24
2012-07-25
2012-07-26
2012-07-27
2012-07-30
2012-07-31
2012-10-01
2012-10-02
2012-10-03
2012-10-04
2012-10-05
2012-10-08
2012-10-09
2012-10-10
2012-10-11
2012-10-12
2012-10-15
2012-10-16
2012-10-17
2012-10-18
2012-10-19
2012-10-22
2012-10-23
2012-10-24
2012-10-25
2012-10-26
2012-10-31
2012-12-03
2012-12-04
2012-12-05
2012-12-06
2012-12-07
2012-12-10
2012-12-11
2012-12-12
2012-12-13
2012-12-14
2012-12-17
2012-12-18
2012-12-19
2012-12-20
2012-12-21
2012-12-24
2012-12-26
2012-12-27
2012-12-28
2013-01-02
2013-01-03
2013-01-04
2013-01-07
2013-01-08
2013-01-09
2013-01-10
2013-01-11
2013-01-14
2013-01-15
2013-01-16
2013-01-17
2013-01-18
2013-01-22
2013-01-23
2013-01-24
2013-01-25
2013-01-28
2013-01-29
2013-01-30
2013-02-01
2013-02-04
2013-02-05
2013-02-06
2013-02-07
2013-02-08
2013-02-11
2013-02-12
2013-02-13
2013-02-14
2013-02-15
2013-02-19
2013-02-20
2013-02-21
2013-02-22
2013-02-25
2013-02-26
2013-02-27
2013-02-28
2013-06-03
2013-06-04
2013-06-05
2013-06-06
2013-06-07
2013-06-10
2013-06-11
2013-06-12
2013-06-13
2013-06-14
2013-06-17
2013-06-18
2013-06-19
2013-06-20
2013-06-21
2013-06-24
2013-06-25
2013-06-26
2013-06-27
2013-07-01
2013-07-02
2013-07-03
2013-07-05
2013-07-08
2013-07-09
2013-07-10
2013-07-11
2013-07-12
2013-07-15
2013-07-16
2013-07-17
2013-07-18
2013-07-19
2013-07-22
2013-07-23
2013-07-24
2013-07-25
2013-07-26
2013-07-29
2013-07-30
2013-07-31
2013-10-01
2013-10-02
2013-10-03
2013-10-04
2013-10-07
2013-10-08
2013-10-09
2013-10-10
2013-10-11
2013-10-14
2013-10-15
2013-10-16
2013-10-17
2013-10-18
2013-10-21
2013-10-22
2013-10-23
2013-10-24
2013-10-25
2013-10-28
2013-10-29
2013-10-30
2013-11-01
2013-11-04
2013-11-05
2013-11-06
2013-11-07
2013-11-08
2013-11-11
2013-11-12
2013-11-13
2013-11-14
2013-11-15
2013-11-18
2013-11-19
2013-11-20
2013-11-21
2013-11-22
2013-11-25
2013-11-26
2013-11-27
2013-12-02
2013-12-03
2013-12-04
2013-12-05
2013-12-06
2013-12-09
2013-12-10
2013-12-11
2013-12-12
2013-12-13
2013-12-16
2013-12-17
2013-12-18
2013-12-19
2013-12-20
2013-12-23
2013-12-24
2013-12-26
2013-12-27
2013-12-30
2013-12-31
2014-07-01
2014-07-02
2014-07-03
2014-07-07
2014-07-08
2014-07-09
2014-07-10
2014-07-11
2014-07-14
2014-07-15
2014-07-16
2014-07-17
2014-07-18
2014-07-21
2014-07-22
2014-07-23
2014-07-24
2014-07-25
2014-07-28
2014-07-29
2014-07-30
2014-07-31
2014-09-02
2014-09-03
2014-09-04
2014-09-05
2014-09-08
2014-09-09
2014-09-10
2014-09-11
2014-09-12
2014-09-15
2014-09-16
2014-09-17
2014-09-18
2014-09-19
2014-09-22
2014-09-23
2014-09-24
2014-09-25
2014-09-26
2014-09-29
2014-09-30
2014-12-01
2014-12-02
2014-12-03
2014-12-04
2014-12-05
2014-12-08
2014-12-09
2014-12-10
2014-12-11
2014-12-12
2014-12-15
2014-12-16
2014-12-17
2014-12-18
2014-12-19
2014-12-22
2014-12-23
2014-12-24
2014-12-26
2014-12-29
2014-12-30
2014-12-31
2015-02-02
2015-02-03
2015-02-04
2015-02-05
2015-02-06
2015-02-09
2015-02-10
2015-02-11
2015-02-12
2015-02-13
2015-02-17
2015-02-18
2015-02-19
2015-02-20
2015-02-23
2015-02-24
2015-02-25
2015-02-26
2015-02-27
2015-05-01
2015-05-04
2015-05-05
2015-05-06
2015-05-07
2015-05-08
2015-05-11
2015-05-12
2015-05-13
2015-05-14
2015-05-15
2015-05-18
2015-05-19
2015-05-20
2015-05-21
2015-05-22
2015-05-26
2015-05-27
2015-05-28
2015-06-01
2015-06-02
2015-06-03
2015-06-04
2015-06-05
2015-06-08
2015-06-09
2015-06-10
2015-06-11
2015-06-12
2015-06-15
2015-06-16
2015-06-17
2015-06-18
2015-06-19
2015-06-22
2015-06-23
2015-06-24
2015-06-25
2015-06-26
2015-06-29
2015-07-01
2015-07-02
2015-07-06
2015-07-07
2015-07-08
2015-07-09
2015-07-10
2015-07-13
2015-07-14
2015-07-15
2015-07-16
2015-07-17
2015-07-20
2015-07-21
2015-07-22
2015-07-23
2015-07-24
2015-07-27
2015-07-28
2015-07-29
2015-07-30
2015-08-03
2015-08-04
2015-08-05
2015-08-06
2015-08-07
2015-08-10
2015-08-11
2015-08-12
2015-08-13
2015-08-14
2015-08-17
2015-08-18
2015-08-19
2015-08-20
2015-08-21
2015-08-24
2015-08-25
2015-08-26
2015-08-27
2015-08-28
2015-08-31
2015-10-01
2015-10-02
2015-10-05
2015-10-06
2015-10-07
2015-10-08
2015-10-09
2015-10-12
2015-10-13
2015-10-14
2015-10-15
2015-10-16
2015-10-19
2015-10-20
2015-10-21
2015-10-22
2015-10-23
2015-10-26
2015-10-27
2015-10-28
2015-10-29
2015-11-02
2015-11-03
2015-11-04
2015-11-05
2015-11-06
2015-11-09
2015-11-10
2015-11-11
2015-11-12
2015-11-13
2015-11-16
2015-11-17
2015-11-18
2015-11-19
2015-11-20
2015-11-23
2015-11-24
2015-11-25
2015-11-27
2015-12-01
2015-12-02
2015-12-03
2015-12-04
2015-12-07
2015-12-08
2015-12-09
2015-12-10
2015-12-11
2015-12-14
2015-12-15
2015-12-16
2015-12-17
2015-12-18
2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-28
2015-12-29
2015-12-30
2016-01-04
2016-01-05
2016-01-06
2016-01-07
2016-01-08
2016-01-11
2016-01-12
2016-01-13
2016-01-14
2016-01-15
2016-01-19
2016-01-20
2016-01-21
2016-01-22
2016-01-25
2016-01-26
2016-01-27
2016-01-28
2016-01-29
2016-05-02
2016-05-03
2016-05-04
2016-05-05
2016-05-06
2016-05-09
2016-05-10
2016-05-11
2016-05-12
2016-05-13
2016-05-16
2016-05-17
2016-05-18
2016-05-19
2016-05-20
2016-05-23
2016-05-24
2016-05-25
2016-05-26
2016-05-27
2016-05-31
2016-10-03
2016-10-04
2016-10-05
2016-10-06
2016-10-07
2016-10-10
2016-10-11
2016-10-12
2016-10-13
2016-10-14
2016-10-17
2016-10-18
2016-10-19
2016-10-20
2016-10-21
2016-10-24
2016-10-25
2016-10-26
2016-10-27
2016-10-28
2016-10-31
2017-02-01
2017-02-02
2017-02-03
2017-02-06
2017-02-07
2017-02-08
2017-02-09
2017-02-10
2017-02-13
2017-02-14
2017-02-15
2017-02-16
2017-02-17
2017-02-21
2017-02-22
2017-02-23
2017-02-24
2017-02-27
2017-02-28
2017-04-03
2017-04-04
2017-04-05
2017-04-06
2017-04-07
2017-04-10
2017-04-11
2017-04-12
2017-04-13
2017-04-17
2017-04-18
2017-04-19
2017-04-20
2017-04-21
2017-04-24
2017-04-25
2017-04-26
2017-04-27
2017-05-01
2017-05-02
2017-05-03
2017-05-04
2017-05-05
2017-05-08
2017-05-09
2017-05-10
2017-05-11
2017-05-12
2017-05-15
2017-05-16
2017-05-17
2017-05-18
2017-05-19
2017-05-22
2017-05-23
2017-05-24
2017-05-25
2017-05-26
2017-05-30
2017-06-01
2017-06-02
2017-06-05
2017-06-06
2017-06-07
2017-06-08
2017-06-09
2017-06-12
2017-06-13
2017-06-14
2017-06-15
2017-06-16
2017-06-19
2017-06-20
2017-06-21
2017-06-22
2017-06-23
2017-06-26
2017-06-27
2017-06-28
2017-06-29
2017-06-30
2017-11-01
2017-11-02
2017-11-03
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-20
2017-11-21
2017-11-22
2017-11-24
2017-11-27
2017-11-28
2017-11-29
2017-12-01
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-26
2017-12-27
2017-12-28
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-29
2018-01-30
2018-02-01
2018-02-02
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-12
2018-02-13
2018-02-14
2018-02-15
2018-02-16
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-26
2018-02-27
2018-03-01
2018-03-02
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-05-01
2018-05-02
2018-05-03
2018-05-04
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-29
2018-05-30
2018-05-31
2018-07-02
2018-07-03
2018-07-05
2018-07-06
2018-07-09
2018-07-10
2018-07-11
2018-07-12
2018-07-13
2018-07-16
2018-07-17
2018-07-18
2018-07-19
2018-07-20
2018-07-23
2018-07-24
2018-07-25
2018-07-26
2018-07-27
2018-07-30
2018-08-01
2018-08-02
2018-08-03
2018-08-06
2018-08-07
2018-08-08
2018-08-09
2018-08-10
2018-08-13
2018-08-14
2018-08-15
2018-08-16
2018-08-17
2018-08-20
2018-08-21
2018-08-22
2018-08-23
2018-08-24
2018-08-27
2018-08-28
2018-08-29
2018-08-30
2018-08-31
2018-12-03
2018-12-04
2018-12-06
2018-12-07
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-24
2018-12-26
2018-12-27
2018-12-28
2018-12-31
2019-02-01
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-05-01
2019-05-02
2019-05-03
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17
2019-05-20
2019-05-21
2019-05-22
2019-05-23
2019-05-24
2019-05-28
2019-05-29
2019-05-30
2019-05-31
BND
2010-02-01
2010-02-02
2010-02-03
2010-02-04
2010-02-05
2010-02-08
2010-02-09
2010-02-10
2010-02-11
2010-02-12
2010-02-16
2010-02-17
2010-02-18
2010-02-19
2010-02-22
2010-02-23
2010-02-24
2010-02-25
2010-02-26
2010-06-01
2010-06-02
2010-06-03
2010-06-04
2010-06-07
2010-06-08
2010-06-09
2010-06-10
2010-06-11
2010-06-14
2010-06-15
2010-06-16
2010-06-17
2010-06-18
2010-06-21
2010-06-22
2010-06-23
2010-06-24
2010-06-25
2010-06-28
2010-06-29
2010-07-01
2010-07-02
2010-07-06
2010-07-07
2010-07-08
2010-07-09
2010-07-12
2010-07-13
2010-07-14
2010-07-15
2010-07-16
2010-07-19
2010-07-20
2010-07-21
2010-07-22
2010-07-23
2010-07-26
2010-07-27
2010-07-28
2010-07-29
2010-07-30
2011-06-01
2011-06-02
2011-06-03
2011-06-06
2011-06-07
2011-06-08
2011-06-09
2011-06-10
2011-06-13
2011-06-14
2011-06-15
2011-06-16
2011-06-17
2011-06-20
2011-06-21
2011-06-22
2011-06-23
2011-06-24
2011-06-27
2011-06-28
2011-06-29
2011-06-30
2011-09-01
2011-09-02
2011-09-06
2011-09-07
2011-09-08
2011-09-09
2011-09-12
2011-09-13
2011-09-14
2011-09-15
2011-09-16
2011-09-19
2011-09-20
2011-09-21
2011-09-22
2011-09-23
2011-09-26
2011-09-27
2011-09-28
2011-09-29
2011-09-30
2011-12-01
2011-12-02
2011-12-05
2011-12-06
2011-12-07
2011-12-08
2011-12-09
2011-12-12
2011-12-13
2011-12-14
2011-12-15
2011-12-16
2011-12-19
2011-12-20
2011-12-21
2011-12-22
2011-12-23
2011-12-27
2011-12-28
2011-12-29
2011-12-30
2012-06-01
2012-06-04
2012-06-05
2012-06-06
2012-06-07
2012-06-08
2012-06-11
2012-06-12
2012-06-13
2012-06-14
2012-06-15
2012-06-18
2012-06-19
2012-06-20
2012-06-21
2012-06-22
2012-06-25
2012-06-26
2012-06-27
2012-06-28
2012-06-29
2012-11-01
2012-11-02
2012-11-05
2012-11-06
2012-11-07
2012-11-08
2012-11-09
2012-11-12
2012-11-13
2012-11-14
2012-11-15
2012-11-16
2012-11-19
2012-11-20
2012-11-21
2012-11-23
2012-11-26
2012-11-27
2012-11-28
2012-11-29
2012-11-30
2013-03-01
2013-03-04
2013-03-05
2013-03-06
2013-03-07
2013-03-08
2013-03-11
2013-03-12
2013-03-13
2013-03-14
2013-03-15
2013-03-18
2013-03-19
2013-03-20
2013-03-21
2013-03-22
2013-03-25
2013-03-26
2013-03-27
2013-03-28
2014-02-03
2014-02-04
2014-02-05
2014-02-06
2014-02-07
2014-02-10
2014-02-11
2014-02-12
2014-02-13
2014-02-14
2014-02-18
2014-02-19
2014-02-20
2014-02-21
2014-02-24
2014-02-25
2014-02-26
2014-02-27
2014-02-28
2014-10-01
2014-10-02
2014-10-03
2014-10-06
2014-10-07
2014-10-08
2014-10-09
2014-10-10
2014-10-13
2014-10-14
2014-10-15
2014-10-16
2014-10-17
2014-10-20
2014-10-21
2014-10-22
2014-10-23
2014-10-24
2014-10-27
2014-10-28
2014-10-29
2014-10-30
2014-10-31
2015-01-02
2015-01-05
2015-01-06
2015-01-07
2015-01-08
2015-01-09
2015-01-12
2015-01-13
2015-01-14
2015-01-15
2015-01-16
2015-01-20
2015-01-21
2015-01-22
2015-01-23
2015-01-26
2015-01-27
2015-01-28
2015-01-29
2015-01-30
2015-04-01
2015-04-02
2015-04-06
2015-04-07
2015-04-08
2015-04-09
2015-04-10
2015-04-13
2015-04-14
2015-04-15
2015-04-16
2015-04-17
2015-04-20
2015-04-21
2015-04-22
2015-04-23
2015-04-24
2015-04-27
2015-04-28
2015-04-29
2015-04-30
2015-09-01
2015-09-02
2015-09-03
2015-09-04
2015-09-08
2015-09-09
2015-09-10
2015-09-11
2015-09-14
2015-09-15
2015-09-16
2015-09-17
2015-09-18
2015-09-21
2015-09-22
2015-09-23
2015-09-24
2015-09-25
2015-09-28
2015-09-29
2015-09-30
2016-02-01
2016-02-02
2016-02-03
2016-02-04
2016-02-05
2016-02-08
2016-02-09
2016-02-10
2016-02-11
2016-02-12
2016-02-16
2016-02-17
2016-02-18
2016-02-19
2016-02-22
2016-02-23
2016-02-24
2016-02-25
2016-02-26
2016-03-01
2016-03-02
2016-03-03
2016-03-04
2016-03-07
2016-03-08
2016-03-09
2016-03-10
2016-03-11
2016-03-14
2016-03-15
2016-03-16
2016-03-17
2016-03-18
2016-03-21
2016-03-22
2016-03-23
2016-03-24
2016-03-28
2016-03-29
2016-03-30
2016-03-31
2016-07-01
2016-07-05
2016-07-06
2016-07-07
2016-07-08
2016-07-11
2016-07-12
2016-07-13
2016-07-14
2016-07-15
2016-07-18
2016-07-19
2016-07-20
2016-07-21
2016-07-22
2016-07-25
2016-07-26
2016-07-27
2016-07-28
2016-07-29
2017-07-03
2017-07-05
2017-07-06
2017-07-07
2017-07-10
2017-07-11
2017-07-12
2017-07-13
2017-07-14
2017-07-17
2017-07-18
2017-07-19
2017-07-20
2017-07-21
2017-07-24
2017-07-25
2017-07-26
2017-07-27
2017-07-28
2017-07-31
2017-10-02
2017-10-03
2017-10-04
2017-10-05
2017-10-06
2017-10-09
2017-10-10
2017-10-11
2017-10-12
2017-10-13
2017-10-16
2017-10-17
2017-10-18
2017-10-19
2017-10-20
2017-10-23
2017-10-24
2017-10-25
2017-10-26
2017-10-27
2017-10-30
2017-10-31
2018-04-02
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-04-30
2018-10-01
2018-10-02
2018-10-03
2018-10-04
2018-10-05
2018-10-08
2018-10-09
2018-10-10
2018-10-11
2018-10-12
2018-10-15
2018-10-16
2018-10-17
2018-10-18
2018-10-19
2018-10-22
2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-29
2018-10-30
2018-11-01
2018-11-02
2018-11-05
2018-11-06
2018-11-07
2018-11-08
2018-11-09
2018-11-12
2018-11-13
2018-11-14
2018-11-15
2018-11-16
2018-11-19
2018-11-20
2018-11-21
2018-11-23
2018-11-26
2018-11-27
2018-11-28
2018-11-29
2018-11-30
2019-01-02
2019-01-03
2019-01-04
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-06-03
2019-06-04
2019-06-05
2019-06-06
2019-06-07
2019-06-10
2019-06-11
2019-06-12
2019-06-13
2019-06-14
2019-06-17
2019-06-18
2019-06-19
2019-06-20
2019-06-21
2019-06-24
AAPL
2010-03-01
2010-03-02
2010-03-03
2010-03-04
2010-03-05
2010-03-08
2010-03-09
2010-03-10
2010-03-11
2010-03-12
2010-03-15
2010-03-16
2010-03-17
2010-03-18
2010-03-19
2010-03-22
2010-03-23
2010-03-24
2010-03-25
2010-03-26
2010-03-29
2010-03-30
2010-04-01
2010-04-05
2010-04-06
2010-04-07
2010-04-08
2010-04-09
2010-04-12
2010-04-13
2010-04-14
2010-04-15
2010-04-16
2010-04-19
2010-04-20
2010-04-21
2010-04-22
2010-04-23
2010-04-26
2010-04-27
2010-04-28
2010-04-29
2010-05-03
2010-05-04
2010-05-05
2010-05-06
2010-05-07
2010-05-10
2010-05-11
2010-05-12
2010-05-13
2010-05-14
2010-05-17
2010-05-18
2010-05-19
2010-05-20
2010-05-21
2010-05-24
2010-05-25
2010-05-26
2010-05-27
2010-05-28
2011-02-01
2011-02-02
2011-02-03
2011-02-04
2011-02-07
2011-02-08
2011-02-09
2011-02-10
2011-02-11
2011-02-14
2011-02-15
2011-02-16
2011-02-17
2011-02-18
2011-02-22
2011-02-23
2011-02-24
2011-02-25
2011-03-01
2011-03-02
2011-03-03
2011-03-04
2011-03-07
2011-03-08
2011-03-09
2011-03-10
2011-03-11
2011-03-14
2011-03-15
2011-03-16
2011-03-17
2011-03-18
2011-03-21
2011-03-22
2011-03-23
2011-03-24
2011-03-25
2011-03-28
2011-03-29
2011-03-30
2011-03-31
2011-08-01
2011-08-02
2011-08-03
2011-08-04
2011-08-05
2011-08-08
2011-08-09
2011-08-10
2011-08-11
2011-08-12
2011-08-15
2011-08-16
2011-08-17
2011-08-18
2011-08-19
2011-08-22
2011-08-23
2011-08-24
2011-08-25
2011-08-26
2011-08-29
2011-08-30
2011-08-31
2011-11-01
2011-11-02
2011-11-03
2011-11-04
2011-11-07
2011-11-08
2011-11-09
2011-11-10
2011-11-11
2011-11-14
2011-11-15
2011-11-16
2011-11-17
2011-11-18
2011-11-21
2011-11-22
2011-11-23
2011-11-25
2011-11-28
2011-11-29
2011-11-30
2012-01-03
2012-01-04
2012-01-05
2012-01-06
2012-01-09
2012-01-10
2012-01-11
2012-01-12
2012-01-13
2012-01-17
2012-01-18
2012-01-19
2012-01-20
2012-01-23
2012-01-24
2012-01-25
2012-01-26
2012-01-27
2012-01-30
2012-02-01
2012-02-02
2012-02-03
2012-02-06
2012-02-07
2012-02-08
2012-02-09
2012-02-10
2012-02-13
2012-02-14
2012-02-15
2012-02-16
2012-02-17
2012-02-21
2012-02-22
2012-02-23
2012-02-24
2012-02-27
2012-02-28
2012-03-01
2012-03-02
2012-03-05
2012-03-06
2012-03-07
2012-03-08
2012-03-09
2012-03-12
2012-03-13
2012-03-14
2012-03-15
2012-03-16
2012-03-19
2012-03-20
2012-03-21
2012-03-22
2012-03-23
2012-03-26
2012-03-27
2012-03-28
2012-03-29
2012-03-30
2012-08-01
2012-08-02
2012-08-03
2012-08-06
2012-08-07
2012-08-08
2012-08-09
2012-08-10
2012-08-13
2012-08-14
2012-08-15
2012-08-16
2012-08-17
2012-08-20
2012-08-21
2012-08-22
2012-08-23
2012-08-24
2012-08-27
2012-08-28
2012-08-29
2012-08-30
2012-09-04
2012-09-05
2012-09-06
2012-09-07
2012-09-10
2012-09-11
2012-09-12
2012-09-13
2012-09-14
2012-09-17
2012-09-18
2012-09-19
2012-09-20
2012-09-21
2012-09-24
2012-09-25
2012-09-26
2012-09-27
2012-09-28
2013-04-01
2013-04-02
2013-04-03
2013-04-04
2013-04-05
2013-04-08
2013-04-09
2013-04-10
2013-04-11
2013-04-12
2013-04-15
2013-04-16
2013-04-17
2013-04-18
2013-04-19
2013-04-22
2013-04-23
2013-04-24
2013-04-25
2013-04-26
2013-04-29
2013-05-01
2013-05-02
2013-05-03
2013-05-06
2013-05-07
2013-05-08
2013-05-09
2013-05-10
2013-05-13
2013-05-14
2013-05-15
2013-05-16
2013-05-17
2013-05-20

In [ ]:
book.value_counts("p AAPL")

In [426]:
multi_returns(book, stock_list)

진입일 :  2010-02-01 종목코드 :  BND long 진입 가격 :  61.280487
개별 청산일 :  2010-03-01 종목코드 :  BND long 진입 가격 :  61.280487 long 청산 가격 :  61.585163 return :  0.5
진입일 :  2010-03-01 종목코드 :  AAPL long 진입 가격 :  26.154476
진입일 :  2010-06-01 종목코드 :  BND long 진입 가격 :  62.79007
개별 청산일 :  2010-06-01 종목코드 :  AAPL long 진입 가격 :  26.154476 long 청산 가격 :  32.642082 return :  24.8
진입일 :  2010-08-02 종목코드 :  AMZN long 진입 가격 :  120.07
개별 청산일 :  2010-08-02 종목코드 :  BND long 진입 가격 :  62.79007 long 청산 가격 :  64.18457 return :  2.22
개별 청산일 :  2011-02-01 종목코드 :  AMZN long 진입 가격 :  120.07 long 청산 가격 :  172.110001 return :  43.34
진입일 :  2011-02-01 종목코드 :  AAPL long 진입 가격 :  43.179466
진입일 :  2011-04-01 종목코드 :  AMZN long 진입 가격 :  180.130005
개별 청산일 :  2011-04-01 종목코드 :  AAPL long 진입 가격 :  43.179466 long 청산 가격 :  43.120655 return :  -0.14
개별 청산일 :  2011-06-01 종목코드 :  AMZN long 진입 가격 :  180.130005 long 청산 가격 :  192.399994 return :  6.81
진입일 :  2011-06-01 종목코드 :  BND long 진입 가격 :  66.480408
진입일 :  2011-07-01 종목코드 :  AMZN long 진입 가격 :  209.490005
개별 청산일 :  2011-07-01 종목코드 :  BND long 진입 가격 :  66.480408 long 청산 가격 :  65.942078 return :  -0.81
개별 청산일 :  2011-08-01 종목코드 :  AMZN long 진입 가격 :  209.490005 long 청산 가격 :  221.320007 return :  5.65
진입일 :  2011-08-01 종목코드 :  AAPL long 진입 가격 :  49.652069
진입일 :  2011-09-01 종목코드 :  BND long 진입 가격 :  68.38459
개별 청산일 :  2011-09-01 종목코드 :  AAPL long 진입 가격 :  49.652069 long 청산 가격 :  47.684769 return :  -3.96
진입일 :  2011-10-03 종목코드 :  AMZN long 진입 가격 :  211.979996
개별 청산일 :  2011-10-03 종목코드 :  BND long 진입 가격 :  68.38459 long 청산 가격 :  68.937309 return :  0.81
개별 청산일 :  2011-11-01 종목코드 :  AMZN long 진입 가격 :  211.979996 long 청산 가격 :  212.100006 return :  0.06
진입일 :  2011-11-01 종목코드 :  AAPL long 진입 가격 :  49.622044
진입일 :  2011-12-01 종목코드 :  BND long 진입 가격 :  68.562042
개별 청산일 :  2011-12-01 종목코드 :  AAPL long 진입 가격 :  49.622044 long 청산 가격 :  48.548275 return :  -2.16
개별 청산일 :  2012-01-03 종목코드 :  BND long 진입 가격 :  68.562042 long 청산 가격 :  69.177887 return :  0.9
진입일 :  2012-01-03 종목코드 :  AAPL long 진입 가격 :  51.464207
진입일 :  2012-04-02 종목코드 :  AMZN long 진입 가격 :  198.050003
개별 청산일 :  2012-04-02 종목코드 :  AAPL long 진입 가격 :  51.464207 long 청산 가격 :  77.419693 return :  50.43
개별 청산일 :  2012-06-01 종목코드 :  AMZN long 진입 가격 :  198.050003 long 청산 가격 :  208.220001 return :  5.14
진입일 :  2012-06-01 종목코드 :  BND long 진입 가격 :  71.178406
진입일 :  2012-07-02 종목코드 :  AMZN long 진입 가격 :  229.320007
개별 청산일 :  2012-07-02 종목코드 :  BND long 진입 가격 :  71.178406 long 청산 가격 :  71.125717 return :  -0.07
개별 청산일 :  2012-08-01 종목코드 :  AMZN long 진입 가격 :  229.320007 long 청산 가격 :  232.089996 return :  1.21
진입일 :  2012-08-01 종목코드 :  AAPL long 진입 가격 :  75.94046
진입일 :  2012-10-01 종목코드 :  AMZN long 진입 가격 :  252.009995
개별 청산일 :  2012-10-01 종목코드 :  AAPL long 진입 가격 :  75.94046 long 청산 가격 :  82.874992 return :  9.13
개별 청산일 :  2012-11-01 종목코드 :  AMZN long 진입 가격 :  252.009995 long 청산 가격 :  232.139999 return :  -7.88
진입일 :  2012-11-01 종목코드 :  BND long 진입 가격 :  71.913559
진입일 :  2012-12-03 종목코드 :  AMZN long 진입 가격 :  250.330002
개별 청산일 :  2012-12-03 종목코드 :  BND long 진입 가격 :  71.913559 long 청산 가격 :  72.123268 return :  0.29
개별 청산일 :  2013-03-01 종목코드 :  AMZN long 진입 가격 :  250.330002 long 청산 가격 :  265.73999 return :  6.16
진입일 :  2013-03-01 종목코드 :  BND long 진입 가격 :  71.360786
개별 청산일 :  2013-04-01 종목코드 :  BND long 진입 가격 :  71.360786 long 청산 가격 :  71.298386 return :  -0.09
진입일 :  2013-04-01 종목코드 :  AAPL long 진입 가격 :  54.46909
진입일 :  2013-06-03 종목코드 :  AMZN long 진입 가격 :  266.880005
개별 청산일 :  2013-06-03 종목코드 :  AAPL long 진입 가격 :  54.46909 long 청산 가격 :  57.617699 return :  5.78
개별 청산일 :  2013-08-01 종목코드 :  AMZN long 진입 가격 :  266.880005 long 청산 가격 :  305.570007 return :  14.5
진입일 :  2013-08-01 종목코드 :  AAPL long 진입 가격 :  58.379593
진입일 :  2013-10-01 종목코드 :  AMZN long 진입 가격 :  320.950012
개별 청산일 :  2013-10-01 종목코드 :  AAPL long 진입 가격 :  58.379593 long 청산 가격 :  62.790127 return :  7.55
개별 청산일 :  2014-01-02 종목코드 :  AMZN long 진입 가격 :  320.950012 long 청산 가격 :  397.970001 return :  24.0
진입일 :  2014-01-02 종목코드 :  AAPL long 진입 가격 :  71.591667
진입일 :  2014-02-03 종목코드 :  BND long 진입 가격 :  70.937912
개별 청산일 :  2014-02-03 종목코드 :  AAPL long 진입 가격 :  71.591667 long 청산 가격 :  64.913078 return :  -9.33
개별 청산일 :  2014-03-03 종목코드 :  BND long 진입 가격 :  70.937912 long 청산 가격 :  71.192856 return :  0.36
진입일 :  2014-03-03 종목코드 :  AAPL long 진입 가격 :  68.716904
진입일 :  2014-07-01 종목코드 :  AMZN long 진입 가격 :  332.390015
개별 청산일 :  2014-07-01 종목코드 :  AAPL long 진입 가격 :  68.716904 long 청산 가격 :  85.713371 return :  24.73
개별 청산일 :  2014-08-01 종목코드 :  AMZN long 진입 가격 :  332.390015 long 청산 가격 :  307.059998 return :  -7.62
진입일 :  2014-08-01 종목코드 :  AAPL long 진입 가격 :  88.105499
진입일 :  2014-09-02 종목코드 :  AMZN long 진입 가격 :  342.380005
개별 청산일 :  2014-09-02 종목코드 :  AAPL long 진입 가격 :  88.105499 long 청산 가격 :  95.147903 return :  7.99
개별 청산일 :  2014-10-01 종목코드 :  AMZN long 진입 가격 :  342.380005 long 청산 가격 :  317.459991 return :  -7.28
진입일 :  2014-10-01 종목코드 :  BND long 진입 가격 :  72.65773
개별 청산일 :  2014-11-03 종목코드 :  BND long 진입 가격 :  72.65773 long 청산 가격 :  72.836952 return :  0.25
진입일 :  2014-11-03 종목코드 :  AAPL long 진입 가격 :  100.766525
진입일 :  2014-12-01 종목코드 :  AMZN long 진입 가격 :  326.0
개별 청산일 :  2014-12-01 종목코드 :  AAPL long 진입 가격 :  100.766525 long 청산 가격 :  106.448647 return :  5.64
개별 청산일 :  2015-01-02 종목코드 :  AMZN long 진입 가격 :  326.0 long 청산 가격 :  308.519989 return :  -5.36
진입일 :  2015-01-02 종목코드 :  BND long 진입 가격 :  73.617195
진입일 :  2015-02-02 종목코드 :  AMZN long 진입 가격 :  364.470001
개별 청산일 :  2015-02-02 종목코드 :  BND long 진입 가격 :  73.617195 long 청산 가격 :  75.042259 return :  1.94
개별 청산일 :  2015-03-02 종목코드 :  AMZN long 진입 가격 :  364.470001 long 청산 가격 :  385.660004 return :  5.81
진입일 :  2015-03-02 종목코드 :  AAPL long 진입 가격 :  119.889519
진입일 :  2015-04-01 종목코드 :  BND long 진입 가격 :  74.701561
개별 청산일 :  2015-04-01 종목코드 :  AAPL long 진입 가격 :  119.889519 long 청산 가격 :  115.394478 return :  -3.75
진입일 :  2015-05-01 종목코드 :  AMZN long 진입 가격 :  422.869995
개별 청산일 :  2015-05-01 종목코드 :  BND long 진입 가격 :  74.701561 long 청산 가격 :  73.93969 return :  -1.02
개별 청산일 :  2015-09-01 종목코드 :  AMZN long 진입 가격 :  422.869995 long 청산 가격 :  496.540009 return :  17.42
진입일 :  2015-09-01 종목코드 :  BND long 진입 가격 :  73.615601
진입일 :  2015-10-01 종목코드 :  AMZN long 진입 가격 :  520.719971
개별 청산일 :  2015-10-01 종목코드 :  BND long 진입 가격 :  73.615601 long 청산 가격 :  74.071289 return :  0.62
개별 청산일 :  2016-02-01 종목코드 :  AMZN long 진입 가격 :  520.719971 long 청산 가격 :  574.809998 return :  10.39
진입일 :  2016-02-01 종목코드 :  BND long 진입 가격 :  74.202827
개별 청산일 :  2016-04-01 종목코드 :  BND long 진입 가격 :  74.202827 long 청산 가격 :  75.734627 return :  2.06
진입일 :  2016-04-01 종목코드 :  AAPL long 진입 가격 :  104.044418
진입일 :  2016-05-02 종목코드 :  AMZN long 진입 가격 :  683.849976
개별 청산일 :  2016-05-02 종목코드 :  AAPL long 진입 가격 :  104.044418 long 청산 가격 :  88.578232 return :  -14.86
개별 청산일 :  2016-06-01 종목코드 :  AMZN long 진입 가격 :  683.849976 long 청산 가격 :  719.440002 return :  5.2
진입일 :  2016-06-01 종목코드 :  AAPL long 진입 가격 :  93.704742
진입일 :  2016-07-01 종목코드 :  BND long 진입 가격 :  77.698959
개별 청산일 :  2016-07-01 종목코드 :  AAPL long 진입 가격 :  93.704742 long 청산 가격 :  91.258865 return :  -2.61
개별 청산일 :  2016-08-01 종목코드 :  BND long 진입 가격 :  77.698959 long 청산 가격 :  77.703514 return :  0.01
진입일 :  2016-08-01 종목코드 :  AAPL long 진입 가격 :  100.928177
진입일 :  2016-10-03 종목코드 :  AMZN long 진입 가격 :  836.73999
개별 청산일 :  2016-10-03 종목코드 :  AAPL long 진입 가격 :  100.928177 long 청산 가격 :  107.66581 return :  6.68
개별 청산일 :  2016-11-01 종목코드 :  AMZN long 진입 가격 :  836.73999 long 청산 가격 :  785.409973 return :  -6.13
진입일 :  2016-11-01 종목코드 :  AAPL long 진입 가격 :  106.680237
진입일 :  2017-02-01 종목코드 :  AMZN long 진입 가격 :  832.349976
개별 청산일 :  2017-02-01 종목코드 :  AAPL long 진입 가격 :  106.680237 long 청산 가격 :  123.828148 return :  16.07
개별 청산일 :  2017-03-01 종목코드 :  AMZN long 진입 가격 :  832.349976 long 청산 가격 :  853.080017 return :  2.49
진입일 :  2017-03-01 종목코드 :  AAPL long 진입 가격 :  135.028976
진입일 :  2017-04-03 종목코드 :  AMZN long 진입 가격 :  891.51001
개별 청산일 :  2017-04-03 종목코드 :  AAPL long 진입 가격 :  135.028976 long 청산 가격 :  138.805832 return :  2.8
개별 청산일 :  2017-07-03 종목코드 :  AMZN long 진입 가격 :  891.51001 long 청산 가격 :  953.659973 return :  6.97
진입일 :  2017-07-03 종목코드 :  BND long 진입 가격 :  76.933464
개별 청산일 :  2017-08-01 종목코드 :  BND long 진입 가격 :  76.933464 long 청산 가격 :  77.710747 return :  1.01
진입일 :  2017-08-01 종목코드 :  AAPL long 진입 가격 :  145.537842
진입일 :  2017-10-02 종목코드 :  BND long 진입 가격 :  77.825485
개별 청산일 :  2017-10-02 종목코드 :  AAPL long 진입 가격 :  145.537842 long 청산 가격 :  149.770599 return :  2.91
진입일 :  2017-11-01 종목코드 :  AMZN long 진입 가격 :  1103.680054
개별 청산일 :  2017-11-01 종목코드 :  BND long 진입 가격 :  77.825485 long 청산 가격 :  77.885567 return :  0.08
개별 청산일 :  2018-04-02 종목코드 :  AMZN long 진입 가격 :  1103.680054 long 청산 가격 :  1371.98999 return :  24.31
진입일 :  2018-04-02 종목코드 :  BND long 진입 가격 :  76.91954
진입일 :  2018-05-01 종목코드 :  AMZN long 진입 가격 :  1582.26001
개별 청산일 :  2018-05-01 종목코드 :  BND long 진입 가격 :  76.91954 long 청산 가격 :  76.155106 return :  -0.99
개별 청산일 :  2018-06-01 종목코드 :  AMZN long 진입 가격 :  1582.26001 long 청산 가격 :  1641.540039 return :  3.75
진입일 :  2018-06-01 종목코드 :  AAPL long 진입 가격 :  187.387604
진입일 :  2018-07-02 종목코드 :  AMZN long 진입 가격 :  1713.780029
개별 청산일 :  2018-07-02 종목코드 :  AAPL long 진입 가격 :  187.387604 long 청산 가격 :  184.373459 return :  -1.61
개별 청산일 :  2018-09-04 종목코드 :  AMZN long 진입 가격 :  1713.780029 long 청산 가격 :  2039.51001 return :  19.01
진입일 :  2018-09-04 종목코드 :  AAPL long 진입 가격 :  225.724899
진입일 :  2018-10-01 종목코드 :  BND long 진입 가격 :  76.678947
개별 청산일 :  2018-10-01 종목코드 :  AAPL long 진입 가격 :  225.724899 long 청산 가격 :  224.637604 return :  -0.48
진입일 :  2018-12-03 종목코드 :  AMZN long 진입 가격 :  1772.359985
개별 청산일 :  2018-12-03 종목코드 :  BND long 진입 가격 :  76.678947 long 청산 가격 :  76.764893 return :  0.11
개별 청산일 :  2019-01-02 종목코드 :  AMZN long 진입 가격 :  1772.359985 long 청산 가격 :  1539.130005 return :  -13.16
진입일 :  2019-01-02 종목코드 :  BND long 진입 가격 :  78.239258
진입일 :  2019-02-01 종목코드 :  AMZN long 진입 가격 :  1626.22998
개별 청산일 :  2019-02-01 종목코드 :  BND long 진입 가격 :  78.239258 long 청산 가격 :  78.729599 return :  0.63
개별 청산일 :  2019-03-01 종목코드 :  AMZN long 진입 가격 :  1626.22998 long 청산 가격 :  1671.72998 return :  2.8
진입일 :  2019-03-01 종목코드 :  AAPL long 진입 가격 :  174.298782
진입일 :  2019-05-01 종목코드 :  AMZN long 진입 가격 :  1911.52002
개별 청산일 :  2019-05-01 종목코드 :  AAPL long 진입 가격 :  174.298782 long 청산 가격 :  209.712402 return :  20.32
개별 청산일 :  2019-06-03 종목코드 :  AMZN long 진입 가격 :  1911.52002 long 청산 가격 :  1692.689941 return :  -11.45
진입일 :  2019-06-03 종목코드 :  BND long 진입 가격 :  82.087845
누적 청산일 :  2010-03-01 청산 종목 수 :  1 청산 수익율 :  0.005 누적 수익율 :  1.005
누적 청산일 :  2010-06-01 청산 종목 수 :  1 청산 수익율 :  0.248 누적 수익율 :  1.2543
누적 청산일 :  2010-08-02 청산 종목 수 :  1 청산 수익율 :  0.0222 누적 수익율 :  1.2821
누적 청산일 :  2011-02-01 청산 종목 수 :  1 청산 수익율 :  0.4334 누적 수익율 :  1.8378
누적 청산일 :  2011-04-01 청산 종목 수 :  1 청산 수익율 :  -0.0014 누적 수익율 :  1.8353
누적 청산일 :

/var/folders/x3/lny9bbwx64b561c29r4y4z400000gn/T/ipykernel_99864/1510890031.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book.loc[i, "acc_rtn"] = acc_rtn

 2011-06-01 청산 종목 수 :  1 청산 수익율 :  0.0681 누적 수익율 :  1.9603
누적 청산일 :  2011-07-01 청산 종목 수 :  1 청산 수익율 :  -0.0081 누적 수익율 :  1.9444
누적 청산일 :  2011-08-01 청산 종목 수 :  1 청산 수익율 :  0.0565 누적 수익율 :  2.0542
누적 청산일 :  2011-09-01 청산 종목 수 :  1 청산 수익율 :  -0.0396 누적 수익율 :  1.9728
누적 청산일 :  2011-10-03 청산 종목 수 :  1 청산 수익율 :  0.0081 누적 수익율 :  1.9888
누적 청산일 :  2011-11-01 청산 종목 수 :  1 청산 수익율 :  0.0006 누적 수익율 :  1.9899
누적 청산일 :  2011-12-01 청산 종목 수 :  1 청산 수익율 :  -0.0216 누적 수익율 :  1.9469
누적 청산일 :  2012-01-03 청산 종목 수 :  1 청산 수익율 :  0.009 누적 수익율 :  1.9643
누적 청산일 :  2012-04-02 청산 종목 수 :  1 청산 수익율 :  0.5043 누적 수익율 :  2.955
누적 청산일 :  2012-06-01 청산 종목 수 :  1 청산 수익율 :  0.0514 누적 수익율 :  3.1068
누적 청산일 :  2012-07-02 청산 종목 수 :  1 청산 수익율 :  -0.0007 누적 수익율 :  3.1045
누적 청산일 :  2012-08-01 청산 종목 수 :  1 청산 수익율 :  0.0121 누적 수익율 :  3.142
누적 청산일 :  2012-10-01 청산 종목 수 :  1 청산 수익율 :  0.0913 누적 수익율 :  3.4289
누적 청산일 :  2012-11-01 청산 종목 수 :  1 청산 수익율 :  -0.0788 누적 수익율 :  3.1585
누적 청산일 :  2012-12-03 청산 종목 수 :  1 청산 수익율 :  0.0029 누적 수익율 :  3.1678
누적 청산일 :  2013-03-01 청산 종목 수 :  1 청산 수익율 :  0.0616 누적 수익율 :  3.3628
누적 청산일 :  2013-04-01 청산 종목 수 :  1 청산 수익율 :  -0.0009 누적 수익율 :  3.3598
누적 청산일 :  2013-06-03 청산 종목 수 :  1 청산 수익율 :  0.0578 누적 수익율 :  3.554
누적 청산일 :  2013-08-01 청산 종목 수 :  1 청산 수익율 :  0.145 누적 수익율 :  4.0693
누적 청산일 :  2013-10-01 청산 종목 수 :  1 청산 수익율 :  0.0755 누적 수익율 :  4.3767
누적 청산일 :  2014-01-02 청산 종목 수 :  1 청산 수익율 :  0.24 누적 수익율 :  5.427
누적 청산일 :  2014-02-03 청산 종목 수 :  1 청산 수익율 :  -0.0933 누적 수익율 :  4.9207
누적 청산일 :  2014-03-03 청산 종목 수 :  1 청산 수익율 :  0.0036 누적 수익율 :  4.9384
누적 청산일 :  2014-07-01 청산 종목 수 :  1 청산 수익율 :  0.2473 누적 수익율 :  6.1599
누적 청산일 :  2014-08-01 청산 종목 수 :  1 청산 수익율 :  -0.0762 누적 수익율 :  5.6905
누적 청산일 :  2014-09-02 청산 종목 수 :  1 청산 수익율 :  0.0799 누적 수익율 :  6.1453
누적 청산일 :  2014-10-01 청산 종목 수 :  1 청산 수익율 :  -0.0728 누적 수익율 :  5.698
누적 청산일 :  2014-11-03 청산 종목 수 :  1 청산 수익율 :  0.0025 누적 수익율 :  5.7121
누적 청산일 :  2014-12-01 청산 종목 수 :  1 청산 수익율 :  0.0564 누적 수익율 :  6.0342
누적 청산일 :  2015-01-02 청산 종목 수 :  1 청산 수익율 :  -0.0536 누적 수익율 :  5.7106
누적 청산일 :  2015-02-02 청산 종목 수 :  1 청산 수익율 :  0.0194 누적 수익율 :  5.8212
누적 청산일 :  2015-03-02 청산 종목 수 :  1 청산 수익율 :  0.0581 누적 수익율 :  6.1596
누적 청산일 :  2015-04-01 청산 종목 수 :  1 청산 수익율 :  -0.0375 누적 수익율 :  5.9287
누적 청산일 :  2015-05-01 청산 종목 수 :  1 청산 수익율 :  -0.0102 누적 수익율 :  5.8682
누적 청산일 :  2015-09-01 청산 종목 수 :  1 청산 수익율 :  0.1742 누적 수익율 :  6.8905
누적 청산일 :  2015-10-01 청산 종목 수 :  1 청산 수익율 :  0.0062 누적 수익율 :  6.9332
누적 청산일 :  2016-02-01 청산 종목 수 :  1 청산 수익율 :  0.1039 누적 수익율 :  7.6534
누적 청산일 :  2016-04-01 청산 종목 수 :  1 청산 수익율 :  0.0206 누적 수익율 :  7.8113
누적 청산일 :  2016-05-02 청산 종목 수 :  1 청산 수익율 :  -0.1486 누적 수익율 :  6.6502
누적 청산일 :  2016-06-01 청산 종목 수 :  1 청산 수익율 :  0.052 누적 수익율 :  6.9963
누적 청산일 :  2016-07-01 청산 종목 수 :  1 청산 수익율 :  -0.0261 누적 수익율 :  6.8137
누적 청산일 :  2016-08-01 청산 종목 수 :  1 청산 수익율 :  0.0001 누적 수익율 :  6.8141
누적 청산일 :  2016-10-03 청산 종목 수 :  1 청산 수익율 :  0.0668 누적 수익율 :  7.269
누적 청산일 :  2016-11-01 청산 종목 수 :  1 청산 수익율 :  -0.0613 누적 수익율 :  6.823
누적 청산일 :  2017-02-01 청산 종목 수 :  1 청산 수익율 :  0.1607 누적 수익율 :  7.9198
누적 청산일 :  2017-03-01 청산 종목 수 :  1 청산 수익율 :  0.0249 누적 수익율 :  8.117
누적 청산일 :  2017-04-03 청산 종목 수 :  1 청산 수익율 :  0.028 누적 수익율 :  8.3441
누적 청산일 :  2017-07-03 청산 종목 수 :  1 청산 수익율 :  0.0697 누적 수익율 :  8.9258
누적 청산일 :  2017-08-01 청산 종목 수 :  1 청산 수익율 :  0.0101 누적 수익율 :  9.0159
누적 청산일 :  2017-10-02 청산 종목 수 :  1 청산 수익율 :  0.0291 누적 수익율 :  9.2782
누적 청산일 :  2017-11-01 청산 종목 수 :  1 청산 수익율 :  0.0008 누적 수익율 :  9.2853
누적 청산일 :  2018-04-02 청산 종목 수 :  1 청산 수익율 :  0.2431 누적 수익율 :  11.5426
누적 청산일 :  2018-05-01 청산 종목 수 :  1 청산 수익율 :  -0.0099 누적 수익율 :  11.4279
누적 청산일 :  2018-06-01 청산 종목 수 :  1 청산 수익율 :  0.0375 누적 수익율 :  11.8561
누적 청산일 :  2018-07-02 청산 종목 수 :  1 청산 수익율 :  -0.0161 누적 수익율 :  11.6654
누적 청산일 :  2018-09-04 청산 종목 수 :  1 청산 수익율 :  0.1901 누적 수익율 :  13.8825
누적 청산일 :  2018-10-01 청산 종목 수 :  1 청산 수익율 :  -0.0048 누적 수익율 :  13.8157
누적 청산일 :  2018-12-03 청산 종목 수 :  1 청산 수익율 :  0.0011 누적 수익율 :  13.8312
누적 청산일 :  2019-01-02 청산 종목 수 :  1 청산 수익율 :  -0.1316 누적 수익율 :  12.0111
누적 청산일 :  2019-02-01 청산 종목 수 :  1 청산 수익율 :  0.0063 누적 수익율 :  12.0863
누적 청산일 :  2019-03-01 청산 종목 수 :  1 청산 수익율 :  0.028 누적 수익율 :  12.4245
누적 청산일 :  2019-05-01 청산 종목 수 :  1 청산 수익율 :  0.2032 누적 수익율 :  14.9489
누적 청산일 :  2019-06-03 청산 종목 수 :  1 청산 수익율 :  -0.1145 누적 수익율 :  13.2376
누적 수익율 :  13.2376

In [427]:
book.tail(50)

CODE,AMZN,BND,AAPL,STD-YM,p AMZN,r AMZN,p BND,r BND,p AAPL,r AAPL,acc_rtn
Date,,,,,,,,,,,
2019-04-12,1843.060059,80.019890,198.107086,2019-04,,,,,buy AAPL,,NaN
2019-04-15,1844.869995,80.039757,198.465714,2019-04,,,,,buy AAPL,,NaN
2019-04-16,1863.040039,79.900749,198.485641,2019-04,,,,,buy AAPL,,NaN
2019-04-17,1864.819946,79.900749,202.350754,2019-04,,,,,buy AAPL,,NaN
2019-04-18,1861.689941,80.009972,203.077957,2019-04,,,,,buy AAPL,,NaN
2019-04-22,1887.310059,79.930542,203.745377,2019-04,,,,,buy AAPL,,NaN
2019-04-23,1923.770020,80.069550,206.684052,2019-04,,,,,buy AAPL,,NaN
2019-04-24,1901.750000,80.278061,206.365295,2019-04,,,,,buy AAPL,,NaN
2019-04-25,1902.250000,80.258209,204.492508,2019-04,,,,,buy AAPL,,NaN
2019-04-26,1950.630005,80.436928,203.516266,2019-04,,,,,buy AAPL,,NaN
2019-04-29,1938.430054,80.268127,203.825073,2019-04,,,,,buy AAPL,,NaN
2019-04-30,1926.520020,80.387283,199.900192,2019-04,ready AMZN,,,,buy AAPL,,NaN
2019-05-01,1911.520020,80.392258,209.712402,2019-05,buy AMZN,,,,,0.203178,14.948895
2019-05-02,1900.819946,80.213097,208.347656,2019-05,buy AMZN,,,,,,NaN
2019-05-03,1962.459961,80.362396,210.937683,2019-05,buy AMZN,,,,,,NaN
2019-05-06,1950.550049,80.461929,207.680222,2019-05,buy AMZN,,,,,,NaN
2019-05-07,1921.000000,80.581375,202.081787,2019-05,buy AMZN,,,,,,NaN
2019-05-08,1917.770020,80.521652,202.121628,2019-05,buy AMZN,,,,,,NaN
2019-05-09,1899.869995,80.601280,199.949997,2019-05,buy AMZN,,,,,,NaN
2019-05-10,1889.979980,80.591331,197.179993,2019-05,buy AMZN,,,,,,NaN
2019-05-13,1822.680054,80.760529,185.720001,2019-05,buy AMZN,,,,,,NaN
2019-05-14,1840.119995,80.810303,188.660004,2019-05,buy AMZN,,,,,,NaN
2019-05-15,1871.150024,80.929733,190.919998,2019-05,buy AMZN,,,,,,NaN
2019-05-16,1907.569946,80.810303,190.080002,2019-05,buy AMZN,,,,,,NaN
2019-05-17,1869.000000,80.830208,189.000000,2019-05,buy AMZN,,,,,,NaN
2019-05-20,1858.969971,80.730667,183.089996,2019-05,buy AMZN,,,,,,NaN
2019-05-21,1857.520020,80.690865,186.600006,2019-05,buy AMZN,,,,,,NaN
2019-05-22,1859.680054,80.840164,182.779999,2019-05,buy AMZN,,,,,,NaN
2019-05-23,1815.479980,81.128799,179.660004,2019-05,buy AMZN,,,,,,NaN
2019-05-24,1823.280029,81.128799,178.970001,2019-05,buy AMZN,,,,,,NaN
2019-05-28,1836.430054,81.298004,178.229996,2019-05,buy AMZN,,,,,,NaN
2019-05-29,1819.189941,81.278099,177.380005,2019-05,buy AMZN,,,,,,NaN
2019-05-30,1816.319946,81.497070,178.300003,2019-05,buy AMZN,,,,,,NaN
2019-05-31,1775.069946,81.855385,175.070007,2019-05,buy AMZN,,ready BND,,,,NaN
2019-06-03,1692.689941,82.087845,173.300003,2019-06,,-0.11448,buy BND,,,,13.237551
2019-06-04,1729.560059,81.948174,179.639999,2019-06,,,buy BND,,,,NaN
2019-06-05,1738.500000,81.948174,182.539993,2019-06,,,buy BND,,,,NaN
2019-06-06,1754.359985,81.928223,185.220001,2019-06,,,buy BND,,,,NaN
2019-06-07,1804.030029,82.147705,190.149994,2019-06,,,buy BND,,,,NaN
2019-06-10,1860.630005,81.978104,192.580002,2019-06,,,buy BND,,,,NaN
2019-06-11,1863.699951,81.918243,194.809998,2019-06,,,buy BND,,,,NaN
2019-06-12,1855.319946,82.057915,194.190002,2019-06,,,buy BND,,,,NaN
2019-06-13,1870.300049,82.197586,194.149994,2019-06,,,buy BND,,,,NaN
2019-06-14,1869.670044,82.207565,192.740005,2019-06,,,buy BND,,,,NaN
2019-06-17,1886.030029,82.207565,193.889999,2019-06,,,buy BND,,,,NaN
2019-06-18,1901.369995,82.397118,198.449997,2019-06,,,buy BND,,,,NaN
2019-06-19,1908.790039,82.676468,197.869995,2019-06,,,buy BND,,,,NaN
2019-06-20,1918.189941,82.806168,199.460007,2019-06,,,buy BND,,,,NaN
2019-06-21,1911.300049,82.576698,198.779999,2019-06,,,buy BND,,,,NaN
2019-06-24,1907.953857,82.726349,199.169998,2019-06,,,buy BND,,ready AAPL,,NaN